body {
  background-image: url(rainbow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
margin: 0;
}


.Name {
  padding-left: 1%;


}

.navPad {
  padding-right: 4%;
}

.main-title {
  margin-top: 10%;
}

.divider {
  width: 25%;
  margin-left: 38%;
}



.accordion {
  margin-top: 9%;
  margin-left: 15%;
  margin-right: 15%;
}

.hobbies-pics {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.projects-title {
  padding-top: 3%;
  padding-bottom: 2%;
}

div.gallery {
  border: 1px solid #ccc;
 
}

div.gallery:hover {
  border: 2px solid #a71a1a;
opacity: .7;
}

div.gallery img {
  width: 100%;
  height: 175px;
}



div.desc {
  padding: 15px;
  text-align: center;
  background-color: black;
  color: #fff;
}


* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
}

.row {
  height: auto;
}

footer {
  padding-top: 150px;
}

.contact {
  padding-top: 3%;
}

.soc-media {
  text-decoration: none;
  padding: 30px 20px 15px;
}

.footerlogo {
  width: 10%;
  padding-bottom: 1%;
}

.copyright {
 margin-left: 47%;
  font-size: 10px;
}

@media only screen and (max-width: 900px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .footerlogo {
    display: none;

  }
}

@media only screen and (max-width: 500px) {
  .contact {
    margin-left: 107%;

  }
}

@media only screen and (max-width: 500px) {
  .copyright {
    margin-left: 37%;

  }
}